*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
.syntastic_c_config
.gitignore
yolo.weights
tags
robot.cfg~
robot.cfg
libdarknet.so
libdarknet.a
darknet.tar.gz
cscope.files
compile_commands.json
.ycm_extra_conf.py~
pg
pgcd
.gitignore
.gitignore
.gitignore
.gitignore